<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogFile="internalNLog.txt" internalLogLevel="Debug">

  <extensions>
    <add assembly="NLog.Targets.Nats" />
  </extensions>

  <targets>
    <target xsi:type="Nats" name="nats" NatsUrl="nats://localhost:4222" Subject="logs" />
    <target xsi:type="File" name="file" fileName="logs.txt" layout="${longdate} ${level} ${message} ${exception}" />
    <target xsi:type="File" name="internalLog" fileName="internalLogs.txt" layout="${longdate} ${level} ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="nats,file" />
  </rules>
</nlog>
